* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
}

h1 {
    height: 100px;
}

.col p {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    border: black 1px solid;
}

.winner {
    width: 20%;
    margin-top: 5rem;
    font-size: xx-large;
    border: red 3px dashed;
}

.animate__bounce {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    margin-top: 20rem;
}